<div class="mt-1 mb-1 border-bottom border-secondary-subtle">
  <div class="mb-2">
    <div class="fw-bold mb-1">{{ course }}</div>
    <div *ngIf="isString(courseContent)">{{ courseContent }}</div>

    <div *ngIf="isArray(courseContent)" class="container text-left">
      <div
        class="row align-items-center text-center justify-content-between"
        *ngFor="let group of getItemGroups(courseContent, itemsPerRow)"
      >
        <div
          [ngClass]="colClass"
          [ngStyle]="{
            color: color,
            'background-color': bgColor,
            textOverflow: 'ellipsis',
            maxWidth: 'calc(99% / ' + itemsPerRow + ')',
            whiteSpace: 'nowrap',
            overflow: 'hidden',
            fontSize: '12px'
          }"
          *ngFor="let item of group"
        >
          {{ item }}
        </div>
      </div>
    </div>

    <div *ngIf="isDictionary(courseContent)">
      <div *ngFor="let key of objectKeys(courseContent)">
        <div>
          {{ key }} - <strong> {{ courseContent[key] }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
