<div class="border container rounded-3" id="cell">
  <div class="rounded-3 spaceing" *ngFor="let entry of data | keyvalue">
    <app-cell
      [course]="entry.key"
      [courseContent]="entry.value"
      *ngIf="
        entry.key !== 'Mapped To This Course' &&
        entry.key !== 'Course Outcomes (COs)'
      "
      [color]="'#333B4B'"
      [bgColor]="'#333B4B'"
    />
    <app-cell
      [course]="entry.key"
      [courseContent]="entry.value"
      *ngIf="entry.key === 'Course Outcomes (COs)'"
      [color]="'#333B4B'"
      [bgColor]="'#afc791'"
    />
    <app-cell
      [course]="entry.key"
      [courseContent]="entry.value"
      *ngIf="entry.key === 'Mapped To This Course'"
      [color]="'#ffffff'"
      [bgColor]="'#476992'"
    />
  </div>
</div>
